// Colors
$background-color: #f0f0f0;
$primary-color: #333;
$secondary-color: #666;

// Font variables
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-size: 14px;
$font-size-m: 16px;
$font-size-l: 18px;

$font-weight: 400;
$font-weight-bold: 700;

$line-height: 1.4;

// Spacing variables
$margin: 1rem;
