// Colors
$background-color: #111111;
$primary-color: #ebebeb;
$secondary-color: #eeeeee;

// Font variables
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-size: 16px;
$font-size-m: 18px;
$font-size-l: 22px;

$font-weight: 400;
$font-weight-bold: 700;

$line-height: 1.4;

// Spacing variables
$margin: 1rem;
$margin-m: 2rem;
