@import "variables";

* {
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  background-image: url("../img/bg.png");
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: $font-size;
  line-height: 1.4;
  color: $primary-color;
  margin: 0;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0 $margin-m;
    padding: 0 $margin;
  }
}

a {
  color: $primary-color;
  text-decoration: none;
}
