@import "variables";

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-family: "Dancing Script";
    text-align: center;
    font-size: $font-size-l + 2rem;
    font-weight: 700;
  }
  p {
    font-size: $font-size-m;
    font-weight: 400;
  }
}

.hero__item {
  width: 70%;
}

.mint {
  text-align: center;
}

.btn-handle {
  background-color: transparent;
  font: inherit;
  font-size: $font-size-m;
  color: $primary-color;
  padding: 0.5rem 1rem;
  border: 1px solid $primary-color;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: $primary-color;
    color: $background-color;
  }
}
.input-mint {
  background-color: transparent;
  font: inherit;
  font-size: $font-size-m;
  color: $primary-color;
  padding: 0.5rem 0rem 0.5rem 1rem;
  border-top: 1px solid $primary-color;
  border-bottom: 1px solid $primary-color;
  border-left: 0px;
  border-right: 0px;
  width: 80px;
  text-align: center;
  &:focus {
    outline: none;
  }
}

.btn-mint {
  margin-top: $margin;
}

.section__mint {
  display: flex;
  justify-content: center;
}
